<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <context-param>
        <param-name>dbUser</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/resumes</param-value>
    </context-param>


    <servlet>
        <servlet-name>resumeServlet</servlet-name>
        <servlet-class>by.tut.darrko.webapp.web.ResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resumeServlet</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>

</web-app>