<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <context-param>
        <param-name>dbUser</param-name>
        <param-value>hqsslvuawozrjk</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>31cf9b993a0d110f3b4a70135ddd4730dcd99b9b557e470b60edca951cb65867</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:postgresql://ec2-54-246-96-76.eu-west-1.compute.amazonaws.com:5432/d4rb7oetm6c5nn?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</param-value>
    </context-param>

    <context-param>
        <param-name>log4j-init-location</param-name>
        <param-value>WEB-INF\log4j.properties</param-value>
    </context-param>


    <servlet>
        <servlet-name>resumeServlet</servlet-name>
        <servlet-class>by.tut.darrko.webapp.web.ResumeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resumeServlet</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>

</web-app>